*{padding: 0; margin: 0;box-sizing: border-box;}
html{font-size: 100px;}
body{font-size: initial;font-family: "宋体",Arial;}
a{text-decoration: none;}
li{list-style: none;padding: 0;margin: 0;}
i{font-style: normal;}
.all{
	max-width: 750px;
	margin: 0 auto;
	background-color: #f2f2f2;
}
.contenter{
	width: 100%;
	overflow: hidden;
}
/*个人资料*/
.head{
	position: relative;
	width: 100%;
}
.user{
	width: 100%;
	height: 2.3rem;
	background: url(../img/bg_01.jpg) no-repeat;
	background-size: 7.5rem 2.3rem;
	position: relative;
	overflow: hidden;
}
.user_hear{
	width: 1.4rem;
	height: 1.4rem;
	border: 0.01rem solid #eaf2ff;
	border-radius: 50%;
	position: absolute;
	top: .35rem;
	left: .55rem;
	text-align: center;
	opacity: .5;
	z-index: 0;
	overflow: hidden;
}
.head_portrait{
	width: 1.19rem;
	height: 1.19rem;
	border: 0.02rem solid #fff;
	margin-top: .105rem;
	border-radius: 50%;
	position: absolute;
	top: .35rem;
	left: .66rem;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.head_portrait img{
	position: absolute;
	left: -.2rem;
	width: 1.54rem;
	height: 1.56rem;
}
.username{
	min-width: 2rem;
	font-size: .28rem;
	color: #fff;
	position: absolute;
	left: 1.9rem;
	top: .7rem;
	z-index: 2;
}
.integral{
	min-width: 1.3rem;
	font-size: .28rem;
	color: #fff;
	position: absolute;
	left: 1.9rem;
	top: 1.2rem;
}
.portrait_box{
	position: absolute;
	right: .2rem;
	top: 1.8rem;
	height: .34rem;
	font-size: .24rem;
	color: #fff;
	overflow: hidden;
}
.portrait{
	width: .25rem;
	height: .31rem;
	margin-right: .06rem;
	background: url(../img/personage_img.png) no-repeat -.64rem .04rem;
	background-size: 2.84rem 1.79rem;
	float: left;
	overflow: hidden;
}
/*个人关注*/
.user_record{
	width: 100%;
	height: 1rem;
	background-color: #fff;
}
.record_box{
	display: block;
	width: 100%;
	height: 100%;
}
.record_box li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 33.33%;
	height: 100%;
	float: left;
	text-align: center;
}
.article_name a{
	font-size: .28rem;
	color: #333;
}
.commodity a{
	color: #999;
	font-size: .24rem;
}
/*订单区*/
.order_form{
	width: 100%;
	height: 2.2rem;
	margin-top: .22rem;
	background-color: #fff;
}
.order_form_top,.order_form_bottom{
	width: 92%;
	height: 50%;
	margin: 0 auto;
	border-bottom: .01rem solid #bbb;
}
.form_top_pre{
	height: 100%;
	float: left;
}
.pre_icon_box{
	height: 100%;
	float: left;
}
.pre_icon{
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
	margin-top: .3rem;
	background: url(../img/personage_img.png) no-repeat -1.36rem .02rem;
	background-color: #f69;
	background-size: 2.84rem 1.79rem;
}
.pre_indent{
	height: 100%;
	line-height: 1.15rem;
	margin-left: .1rem;
	float: left;
	color: #333333;
	font-size: .28rem;
}
.form_top_next{
	height: 100%;
	float: right;
}
.next_check{
	height: 100%;
	line-height: 1.15rem;
	color: #999;
	font-size: .24rem;
	float: left;
}
.form_top_next span{
	font-size: .32rem;
	line-height: 1.15rem;
	color: #999;
	float: left;
}
.order_form_bottom{
	border-bottom: none;
}
.form_bottom_box{
	display: block;
	width: 100%;
	height: 100%;
}
.form_bottom_box li{
	width: 25%;
	height: 100%;
	text-align: center;
	float: left;
	overflow: hidden;
}
.form_bottom_box p{
	font-size: .24rem;
	color: #999;
}
.money{
	width: .4rem;
	height: .4rem;
	margin: .2rem 0 0 .66rem;
	background: url(../img/Shape.png) no-repeat;
	background-size: .39rem .3rem;
}
.btn_icon{
	width: .4rem;
	height: .4rem;
	margin: .2rem 0 0 .66rem;
	background: url(../img/personage_img.png) no-repeat;
	background-size: 2.84rem 1.79rem;
}
.icon_huo{
	background-position: -2.38rem -.27rem;
}
.icon_xiaoxi{
	background-position: -2.45rem -.99rem;
	position: relative;
}
.icon_xiaoxi i{
	position: absolute;
	right: -.1rem;
	top: -.1rem;
	width: .25rem;
	height: .25rem;
	line-height: .25rem;
	border-radius: 50%;
	background-color: #f69;
	text-align: center;
	color: #fff;
}
.icon_shou{
	width: .45rem;
	height: .45rem;
	background-position: -1.6rem -1.4rem;
}
/*获得的礼品*/
.me_present{
	width: 100%;
	height: 1.8rem;
	margin-top: .2rem;
	background-color: #fff;
}
.pre_indent_active{
	line-height: .9rem;
}
.integration{
	width: 100%;
	height: .9rem;
	margin: 0 auto;
	padding: 0 .3rem 0 .3rem;
}
.integration_wire{
	border-bottom: .01rem solid #bbb;
}
.present_color{
	margin-top: .2rem;
	background-position: -.63rem -.68rem;
	background-color: #ff9702;
}
.next_active span{
	line-height: .9rem;
}
.present_color2{
	margin-top: .2rem;
	background-position: -.07rem -1.3rem;
	background-color: #42c1f8;
}
.management{
	width: 100%;
	background-color: #fff;
	margin-top: .2rem;
	overflow: hidden;
}
.present_distribution{
	margin-top: .2rem;
	background-position: .02rem -.25rem;
	background-color: #f15350;
}
.present_shop{
	margin-top: .2rem;
	background-position: -1.42rem -.57rem;
	background-color: #58c79c;
}
.present_retail{
	margin-top: .2rem;
	background-position: .11rem -.75rem;
	background-color: #ff679a;
}
.present_me{
	margin-top: .2rem;
	background-position: -.83rem -1.27rem;
	background-color: #8b86ed;
}
/*底部*/
.buttom_cut{
	height: .98rem;
	margin-top: .2rem;
	background-color: #fff;
}
.cut_box{
	display: block;
	height: 100%;
	overflow: hidden;
}
.cut_box li{
	display: inline-block;
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	float: left;
}
.box_index_icon{
	width: .5rem;
	height: .5rem;
	margin-left: 37%;
	background: url(../img/index_img.png) no-repeat ;
	background-size: 2.61rem 1.75rem;
}
.cut_box a{
	color: #929192;
	font-size: .2rem;
}
.box_one a{
	color: #f69;
}
.icon_one{
	background-position: -2.11rem 0;
}
.icon_two{
	background-position: .04rem -.64rem;
}
.icon_three{
	background-position: .04rem -1.35rem;
}
.icon_four{
	background-position: -1.0rem 0;
}
.go{
	width: .84rem;
	height: .84rem;
	border: .01rem solid #bbb;
	border-radius: 50%;
	position: fixed;
	bottom: 1.18rem;
	right: .28rem;
	background: url(../img/img.png) no-repeat -1.41rem -1.56rem;
	background-size: 4.63rem 2.30rem;
	box-shadow: 2px 2px #ddd;
	background-color: #fff;
}